# Data Manipulation & Math
pandas==3.0.3
numpy==2.5.1

# Machine Learning Core
scikit-learn==1.9.0
imbalanced-learn==0.14.2
catboost==1.2.10
lightgbm==4.7.0
xgboost==3.3.0

# Hyperparameter Tuning
optuna==4.9.0

# Data Visualization
matplotlib==3.11.1
seaborn==0.13.2

# Model Serialization
joblib==1.5.3